i {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

span {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #333;
    /* border: none; */
    color: white;
    padding: 0;
    text-align: center;
    height: 50px;
    width: 50px;
    position:absolute;
    transform: translate(0, -50%); /* move up */
}

button:active {
    box-shadow: 0 0 20px 20px #555555;
}


#bucket_up {
    left:10%;
    top: 10%;
    transform: translate(-50%, 0%);
}

#bucket_down {
    right:10%;
    top: 10%;
    transform: translate(50%, 0%);
}

#bucket_text {
    text-align:center;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#exc_bucket_up {
    left:15%;
    top: 10%;
    transform: translate(-50%, 0%);
}

#exc_bucket_down {
    left:5%;
    top: 10%;
    transform: translate(-50%, 0%);
}

#exc_bucket_text {
    text-align:center;
    position: absolute;
    left:50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#arm_1_up {
    left:15%;
    bottom: 10%;
    transform: translate(-50%, 0%);
}

#arm_1_down {
    left:5%;
    bottom: 10%;
    transform: translate(-50%, 0%);
}

#arm_1_text {
    text-align:center;
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#arm_2_up {
    right:5%;
    top: 10%;
    transform: translate(50%, 0%);
}

#arm_2_down {
    right:15%;
    top: 10%;
    transform: translate(50%, 0%);
}

#arm_2_text {
    text-align:center;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#slew_left {
    right:5%;
    bottom: 10%;
    transform: translate(50%, 0%);
}

#slew_right {
    right:15%;
    bottom: 10%;
    transform: translate(50%, 0%);
}

#slew_text {
    text-align:center;
    position: absolute;
    left:50%;
    top: 20%;
    transform: translate(-50%, -50%);
}


.zone {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

/* for all screens */
#info {
    display: none;
    position: relative;
}

#info-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #info {
        display: block;
        position:absolute;
        background: white;
        z-index: 9999;

        text-align: center;

        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
    }
}

#background-video {
    position: fixed;
    /* right: 0; */
    /* bottom: 0; */
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#not-chrome {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    /* opacity: 0; */
    z-index: 9999;
}

#not-chrome-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
