.button {
  /* background-color: #333; */
  /* border: none; */
  /* color: white; */
  padding: 0px;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
  /* margin: 0px; */
  /* border-radius: 50%; */
  height: 5%;
  width: 5%;
  position:absolute;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 5%;
    height: 50%;
    padding: 0 5px;
    position:absolute;
    /* background: #333; /* Green background */ */
}

#left_wheels {
    left:25%;
    top: 25%;
}

#right_wheels {
    right:25%;
    top:  25%;
}

#bucket_up {
    left:35%;
    top: 47.5%;
}

#bucket_down {
    left:60%;
    top: 47.5%;
}
